/*
 * Erik LaBine, ejl389, 11122765
 * ejl389@mail.usask.ca
 * For use in shift-swap project; CMPT 370, University of Saskatchewan
 * 2014
 */

/* It's a good font, what can I say. */
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* Global values. */
.root {
    /* Colour values */
    cognac: #975B3B;
    basalt: #41373D;
    neutral: #CFBFA1;
    umber: #8A3324;
    
    /* Set background */
    /* Commented for now since it's temporarily easier
    	  to do all this stuff manually */
    /*-fx-border-width: 75;
    -fx-border-color: #975B3B;
    -fx-background-color: #CFBFA1;*/
}

#title {
    -fx-text-fill: #41373D;
    -fx-font-family: 'Source Sans Pro', sans-serif;
    -fx-font-weight: lighter;
    -fx-font-size: 35;
}

.border {
    -fx-background-color: #975B3B;
}

.background-standard {
    -fx-background-color: #CFBFA1;
}

.button-standard {
    -fx-text-fill: #CFBFA1;
    -fx-font-family: 'Source Sans Pro', sans-serif;
    -fx-background-color: #8A3324;
    -fx-background-radius: 0, 0, 0, 0;
}

.label-standard {
    -fx-text-fill: #41373D;
    -fx-font-family: 'Source Sans Pro', sans-serif;
}


